body{
    max-height: 100%;
}
#message-input{
    /* margin-left: 35%; */
}
#submit{
    margin-left: 20rem;
    width: 20%;
}
#form-wrapper{
    margin-top: 30%;
}
#message{
    background-color: blue;
    color: white;
    border: 2px solid ;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 30%;
}
#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#other-message{
    margin-top: 10px;
    background-color:gray;
    border: 2px solid ;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    width: 30%;
}